<ion-view view-title="抽奖转盘" hide-tabs>
    <ion-header-bar class="bar-calm" ng-style="{'background-color': '#42a5f5'}">
        <a class="button icon-left ion-ios-arrow-left button-clear button-dark" nav-direction="back" ui-sref="tab.home"></a>
        <h1 class="title">活动赚赚赚</h1>
    </ion-header-bar>
    
    <ion-content>
        <div class="ly-plate" ><img src="img/turntable-base.png" id="rotate-base">
            
            <div class="rotate-bg"></div>
            <div class="lottery-star"><img src="img/rotate-static.png" id="lotteryBtn" ng_click="Turntable_click()"></div>
            </div>

        <div id="fade" class="black_overlay"></div>
    </ion-content>
</ion-view>